/*CSS reset */
@import url(reset.css);
/*Importamos Fuente*/
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  }
html{
    font-family: 'Montserrat';
    font-size: 10px;
    background-color: white;
}

section{
    margin-bottom: 1px;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menucontainer{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/*Inicio Header section */
#header{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}
#header .header{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-start;
}

#header:before{
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; /* fondo semi-transparente */
    opacity: 0.5; /* ajustar la opacidad para oscurecer la imagen */
}
#header h1{
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#header h1:nth-child(1){
    animation-delay: 1s;
}
#header h1:nth-child(2){
    animation-delay: 2s;
}
#header h1:nth-child(3){
    animation: text_reveal_nombre .5s ease forwards;
    animation-delay: 3s;
}

#header h1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#header h1:nth-child(1) span{
    animation-delay: 0.5s;
}
#header h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#header h1:nth-child(3) span{
    animation-delay: 2.5s;
}
/*Fin header section */

/*Inicio Menu*/
.menu{
    height: 100vh;
}

#menu .menu-explicacion{
    background-image: url(./imagenes/whitebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    color: black;
    float: left;
    text-align: justify;
    height: 100%;
    display: flex; /* activa el modelo de caja flexible */
    justify-content: center; /* centra horizontalmente */
    align-items: left; /* centra verticalmente */
    flex-direction: column;
    font-weight: 500;
}


#menu .menu-explicacion p{
    padding: 20px 80px;
    z-index: 1;
    font-size: 1.7rem;
    line-height: 1.5;
}

#menu .menu-explicacion h2{
    padding: 2px 80px;
    z-index: 1;
    text-transform: uppercase;
    font-size: 5.5rem;
    font-weight: 600;
}

 .ir{
    width:fit-content;
    margin-left: 80px;
    text-transform: uppercase;
    background-color: #fff;
    padding-top: 9px;
    padding-bottom: 9px;
    letter-spacing: 0.2rem;
    font-weight: 700;
    border: solid 2.5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.ir:hover{
    background-color: black;
    color: #fff;
}

#menu .menu-foto{
    background-image: url(./imagenes/platoMenu.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    float: right;
    height: 100%;
}
/*Fin Menu*/

/*Inicio Brasa*/
.brasa{
    height: 100vh;
}

#brasa .brasa-explicacion{
    background-image: url(./imagenes/whitebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    color: black;
    float: right;
    text-align: justify;
    height: 100%;
    display: flex; /* activa el modelo de caja flexible */
    justify-content: center; /* centra horizontalmente */
    align-items: left; /* centra verticalmente */
    flex-direction: column;
    font-weight: 500;
}


#brasa .brasa-explicacion p{
    padding: 20px 80px;
    z-index: 1;
    font-size: 1.7rem;
    line-height: 1.5;
}

#brasa .brasa-explicacion h2{
    padding: 2px 80px;
    z-index: 1;
    text-transform: uppercase;
    font-size: 5.5rem;
    font-weight: 600;
}

#brasa .brasa-foto{
    background-image: url(./imagenes/fotoBrasa.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    float: left;
    height: 100%;
}
/*Fin Brasa*/

/*Inicio Carta*/
.carta{
    height: 100vh;
}

#carta .carta-explicacion{
    background-image: url(./imagenes/whitebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    color: black;
    float: left;
    text-align: justify;
    height: 100%;
    display: flex; /* activa el modelo de caja flexible */
    justify-content: center; /* centra horizontalmente */
    align-items: left; /* centra verticalmente */
    flex-direction: column;
    font-weight: 500;
}


#carta .carta-explicacion p{
    padding: 20px 80px;
    z-index: 1;
    font-size: 1.7rem;
    line-height: 1.5;
}

#carta .carta-explicacion h2{
    padding: 2px 80px;
    z-index: 1;
    text-transform: uppercase;
    font-size: 5.5rem;
    font-weight: 600;
}

#carta .carta-foto{
    background-image: url(./imagenes/platoCarta.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    float: right;
    height: 100%;
}
/*Fin Carta*/

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_nombre{
    100%{
        color: crimson;
        font-weight: 500;
    }
}

 /* Media query para dispositivos con una anchura menor a 768px */
 @media (max-width: 780px) {
    .menu-explicacion, .menu-foto{

    }
    .carta, .brasa{
        display: none;
    }
  }